/* Import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Montserrat:wght@200&display=swap');

body {
    background-color: #f2f3f8;
}

/* ------------ Navigation bar links ------------ */
nav a {
    color: #2a324b;
    font-family: 'Lato', sans-serif;
}

nav a:hover {
    color: #8e92a4;
    font-family: 'Lato', sans-serif;
}

nav{
    padding: 10px;
    height: 10%;
    background-color: #f2f3f8;
    display: flex;
    align-items: center;
}

/* ------------ Image slider on home page ------------ */


/* ------- Boba Store information in locations page -------*/
* {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
