/* Import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Montserrat:wght@200&display=swap');

body {
    background-color: #f2f3f8;
}

/* ------------ Fonts ------------- */
h1{
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

/* --------- Navigation links ----------- */
nav a {
    color: #2a324b;
    font-family: 'Lato', sans-serif;
}

nav a:hover {
    color: #8e92a4;
    font-family: 'Lato', sans-serif;
}

nav{
    padding: 10px;
    height: 5%;
    background-color: white;
    display: flex;
    align-items: center;
}

/* ------------ Footer -------------- */
footer {
    width: 100%;
    background-color: white;
    height: 60px;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
    text-align: center;
}
#footericons li
{
    display: inline;
    list-style-type: none;
    padding-right: 30px;
    float: right;
    font-weight: bold;
    text-align: center;
}

#footericons li a:hover
{
    opacity: 70%;
}

/* ------------ Image slider on home page ------------ */
.Slider-text {
    background-color: rgba(255, 255, 255, 0.562);
    bottom: 150px;
    width: 100%;
    font-weight: bolder;
    color: #2a324b;
    text-shadow: white 2px 1px;
    position: absolute;
    display: block;
}
.Slider-button {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 45%;
}
#slider {
    overflow: hidden;
    position: relative;
}
#slider h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: auto;
    font-size: 50px;
}
#slider p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: auto;
    font-size: 20px;
    padding-bottom: 15px;
}
#slider figure {
    position: relative;
    width: 480%;
    margin: 30px;
    animation: 15s slider infinite;
}
#slider figure img {
    float: left;
    width: 10%;
}

@keyframes slider {
    0% {
        left: 0;
    }
    10% {
        left: -10%;
    }
    20% {
        left: -20%;
    }
    40% {
        left: -40%;
    }
    60% {
        left: -60%;
    }
    80% {
        left: -80%;
    }
    100% {
        left: -100%;
    }
}

/* ------- Boba Store information in locations page -------*/
* {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* ----------- Menu page ------------- */
.search-bar {
    margin: auto;
}